body{
    margin: 0;
    padding: 0;
}

#my-navigation{
    background-color: #1e1e1e;
    border: 0;
}


#my-navigation .navbar-brand{
    /* font-family: ; */
    font-size: 25px;
    color: #9c0a12;
}

#my-navigation #mynavbar li a{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}


#my-navigation #mynavbar li a:hover{
    color: #9c0a12;
    border-bottom: 1px solid #9c0a12;
}

@media (max-width: 992px){
    #my-navigation #mynavbar li a{
        font-size: 10px;
    }
}

@media (max-width: 737px){
    .navbar-fixed-top{
        width:auto
    }
}

 
/* banner */

#top{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/standard-quality-control-concept-m.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#top .top-tittle{
    margin-top: 250px;
    font-size: 70px;
    /* font-family: ; */
    color: #9c0a12 ;
}

#top .second-tittle{
    color: #fff;
    word-spacing: 10px;
    font-size: 40px;
}

@media (max-width:992px){
    #top .top-tittle{
        font-size: 100px;
    }

    #top .second-tittle{
        font-size: 35px;
    }
}

@media (max-width:767px){
    #top{
        height: 50vh;
    }

    #top .top-tittle{
        font-size: 80px;
        margin-top: 150px;
    }

    #top .second-tittle{
        font-size: 25px;
    }
}

@media (max-width:576px){
    #top .top-tittle{
        font-size: 60px;
    }

    #top .second-tittle{
        font-size: 20px;
    }
}

/* about */

.about{
    margin: 100px 0;
}


.about h1 button{
    width: 250px;
    height: 60px;
    font-weight: 600;
    /* font-family: ; */
    background: none;
    cursor: text;
    border: 1px solid #1e1e1e;
}

.about .center{
    text-align: center;
}

.about .center .fa{
    margin: 30px 0;
    font-size: 40px;
    color: #000;
}

.about p{
    font-size: 25px;
    font-weight: 400;
    word-spacing: 10px;
}

.about .img-section-space{
    margin-top: 3px;
}

@media (max-width:992px){
    .about h1 button{
        width: 200px;
        height: 55px;
    }

    .about .center .fa{
        font-size: 35px;
    }

    .about p{
        text-align: center;
    }
}

@media (max-width: 767px){
    .about h1 button{
        width: 180px;
        height: 50px;
        font-size: 25px;
    }

    .about .center .fa{
        font-size: 30px;
    }

    .about p{
        font-size: 20px;
    }
    .img-section{
        text-align: center;
    }
}

@media (max-width:535px){
    .about h1 button{
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .about .fa{
        font-size: 20px;
    }

    .about p{
        font-size: 15px;
        word-spacing: 5px;
    }
    .img-section{
        text-align: center;
    }
}


.services{
    width: 100%;
    height: 500px;
}

.background_content{
    background-image: url(../img/secvices\ banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.services h1{
    text-align: center;
    padding-top: 200px;
    font-size: 90px;
    color: #9c0a12;
}

.services h1 span{
    border-bottom: 10px solid #fff;
}

@media (max-width:992px){
    .services h1{
        font-size: 80px;
    }

    .services h1 span{
        border-bottom: 8px solid #fff;
    }
}

@media (max-width:767px){
    .services h1{
        font-size: 70px;
    }
    .services h1 span{
        border-bottom: 7px solid #fff;
    }
}

@media (max-width:535px){
    .services h1{
        font-size: 50px;
    }

    .services h1 span{
        border-bottom: 5px solid #fff;
    }
}

/* reservation */
.reservation{
    width: 100%;
    height: 500px;
}

.reservation-background-content{
    
}

.reservation h1{
    text-align: center ;
    padding-top: 200px;
    font-size: 90px;
    color: #fff;
}

.reservation-form{
    margin-top: 150px;
}

.reservation-form input{
    margin-top: 20px;
    border-radius: 0;
}

.reservation-form button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    border: 0;
    background-color: #9c0a12;
}

.reservation-form .submit{
    position: relative;
    right: 80   px;
}

/* footer */
footer{
    width: 100%;
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 0;
}

footer .flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between\;
}

footer a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
}

footer a:hover{
    text-decoration: underline;
    color: #dfdfdf;
}

footer p{
    font-size: 15px;
    padding-top: 5px;
}

@media (max-width:767px){
    footer a{
        font-size: 10px;
    }

    footer p{
        font-size: 10px;
    }
}

@media(max-width: 400px){
    footer .flex-box{
        display: block;
    }
}